<html>
<head><title>Catalog</title></head>
<body>
    <a href="/work/new">Add work to catalog</a>
    <a href="/export">Export catalog (JSON)</a>
    <br><br>
    <form action="/search" method="POST">
        <input name="query" required><br>
        <input type="submit" value="Search">
    </form>
    <h2>Catalog</h2>
    <ul>
    {{range $id, $book := .}}
        <li><p>Title: <b>{{$book.Title}}</b></p>
            <p>Author: {{$book.Author}}</p>
            <p>ISBN: {{$book.ISBN}}</p>
            <p>Source: {{$book.Source}}</p>
        </li>

        <p><a href="/work/{{ .ID }}">View</a> |
        <a href="/work/edit/{{ .ID }}">Edit</a> |
        <a href="/work/delete/{{ .ID }}">Delete</a></p>
    {{end}}
    </ul>
</body>
</html>
